
body {
  
  color: #333;
  font-family: Lato, sans-serif;
}
.container {
  display: block;
  width: 400px;
  margin: 40px auto 0;
background: white;
width: 500px;
 border-radius: 15px 50px 30px 5px;

}
ul {
  margin: 10px;
  padding: 0;
}
li * {
  float: left;
   margin: 10px;
}
li, h3 {
  clear:both;
  list-style:none;
   margin: 10px;
}
input, button {
  outline: none;
}
button {
  background: #CC99CC;
  border: 0px;
  color: white;
  font-size: 15px;
  width: 60px;
  margin: 10px 0 0;
  font-family: Lato, sans-serif;
  cursor: pointer;
  border-radius: 15px 50px;

}
button:hover {
  color: #333;
}
/* Heading */
h3,
label[for='new-task'] {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  border-color: #94b5c0;
  padding: 30px 0 10px;
  
  text-transform: uppercase;
  margin: 10px;
}
input[type="text"] {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 18px;
  padding: 10px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #d3d4d6;
  margin: 10px;
}
input[type="text"]:focus {
  color: blue;
  margin: 10px;
}

/* New Task */
label[for='new-task'] {
  display: block;
  margin: 0 0 20px;
  margin: 10px;
}
input#new-task {
  float: left;
  width: 318px;
  margin: 10px;
}
p > button:hover {
  color: #0FC57C;
}

/* Task list */
li {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  margin: 10px;
}
li > input[type="checkbox"] {
  margin: 0 10px;
  position: relative;
  top: 15px;
}
li > label {
  font-size: 18px;
  line-height: 40px;
  width: 237px;
  padding: 0 0 0 11px;
}
li >  input[type="text"] {
  width: 226px;
}
li > .delete:hover {
  color: #CF2323;
}

/* Completed */
#completed-tasks label {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */
ul li input[type=text] {
  display:none;
}

ul li.editMode input[type=text] {
  display:block;
}

ul li.editMode label {
  display:none;
}

html{
background: rgb(255,255,255);
background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(10,1,42,1) 0%, rgba(121,9,120,1) 33%, rgba(17,184,237,1) 94%, rgba(0,212,255,1) 100%);
}